@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Lobster&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Open sans';
    font-weight: 400;
    color: #ffffff;
    background-color: #5b5959;
}

/* heading and logo */

h1,
h2 {
    font-family: Lobster;
    letter-spacing: 8px;
    /* color: #252525; */
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 50px;
    color: #fff
}

/* navigation links */

.list {
    font-size: 110%;
    letter-spacing: 5px;
    list-style: none;
}

.list,
#logo {
    line-height: 50px;
}

.list li {
    float: right;
    margin-right: 30px;
}

.list a {
    text-decoration: none;
    color: #fff;
}

.list a:hover {
    color: orange;
}

.list a.active {
    color: Red;
}

/* hero image */

/* #hero-outer {
    height: 600px;
    width: 100%;
    
} */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') center 100% / cover no-repeat;
    overflow: hidden;
}

/* our pizza ethos */

#our-pizza-ethos {
    height: 700px;

}

#left-about {
    padding-top: 25px;
    padding-left: 30px;
    height: 700px;
    width: 50%;
    float: left;
}

.ethos-images {
    padding-top: 25px;
    height: 325px;
    width: 50%;
    border: 2px solid red;
    border-radius: 20px;
   
}

.pizza-dough-image {
    background: url('../images/pizza-dough.webp') no-repeat;
    
}

.pizza-sauce-image {
    background: url('../images/pizza-sauce.webp') no-repeat;    
}

#cover-text {
    font-family: Bagel fat one;
    height: 250px;
    width: 250px;
    padding-top: 8px;
    left: 350px;
    position: absolute;
    /* float: right; */
    /* background-color: #5b5959; */
    color: black;
    text-align: right;
}

#cover-text-heading {
    text-decoration: 2px double underline red;
    padding-bottom: 10px;
}



#mozzeralla-cheese {

    padding-top: 35px;
    width: 50%;
    float: right;
}

#fresh-meats {
    padding-top: 35px;
    width: 50%;
    float: right;
}