@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Lobster&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Oswald';
    font-weight: 400;
    color: #ffffff;
    background-color: #2e2727;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    scrollbar-color: blue;
}

/* header position fixed */

header {
    /* width: 100%; */
    height: 70px;
    background: black;
    opacity: 1;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

}

/* heading and logo */

h1,
h2 {
    font-family: Lobster;
    letter-spacing: 8px;
    text-align: center;
    font-size: 250%;
}

#logo {
    float: left;
    font-size: 350%;
    margin-left: 50px;
    color: #fff;
    cursor: pointer;
}

/* navigation links */

.list {
    font-size: 110%;
    letter-spacing: 5px;
    list-style: none;
}

.list,
#logo {
    line-height: 50px;
}

.list a {
    float: right;
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 14px 16px;
    margin-right: 30px;
}

.list a:hover {
    color: orange;
}

.list a.active {
    color: Red;
}

/* hero image */

#hero-image {
    height: 590px;
    width: 100%;
    background: url('../images/hero-image.webp') center 100% / cover no-repeat;
    overflow: hidden;
    /* padding-top: 50px; */
}

/* our pizza ethos */

#our-pizza-ethos {
    height: 550px;
}

.flex-ethos {
    flex: 1 0 30%;
    flex-flow: row wrap;
}

.flex-ethos img {
    gap: 5px;
    width: 95%;
    height: 300px;
    border-radius: 20px;
    padding-left: 10px;
}

.flex-ethos p,
h3 {
    width: 70%;
    padding-left: 10px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

/* .left-about {
    padding-top: 25px;
    padding-left: 30px;
    height: 330px;
    width: 50%;
    float: left;
}

.right-about {
    padding-top: 25px;
    height: 330px;
    width: 50%;
    float: right;

} */

/* ethos image style */

/* .ethos-images {
    /* padding-top: 25px; */
/* height: 325px; */
/* width: 45%; */
/* border: 2px solid red; */
/* border-radius: 20px; */
/* position: absolute; */
/* } */

/* .ethos-images-left {
    left: 25px;
    float: left;
}

.ethos-images-right {
    right: 25px;
    float: right;
}

.ethos-images-center {
    right: 425px;
} */

/* ethos images */

.pizza-dough-image {
    background: url('../images/pizza-dough.webp') no-repeat;
}

.pizza-sauce-image {
    background: url('../images/pizza-sauce.webp') no-repeat;
}

.mozzarella-cheese-image {
    background: url('../images/mozzarella-cheese.webp') no-repeat;
}

/* ethos cover text */

.cover-text-left {
    font-family: Open sans;
    height: auto;
    width: 250px;
    padding-top: 8px;
    /* left: 250px; */
    position: absolute;
    float: right;
    background-color: #070707;
    color: rgb(226, 225, 233);
    text-align: right;
    border-radius: 20px;
    background-position: top left;
}

/* .cover-text-right {
    font-family: Oswald;
    height: auto;
    width: 250px;
    padding-top: 8px;
    right: 350px;
    position: absolute;
    float: right;
    background-color: #070707;
    color: rgb(226, 225, 233);
    text-align: left;
    border-radius: 20px;
} */

.cover-text-heading {
    text-decoration: 2px double underline red;
    padding-bottom: 10px;
}

/* address filed */
.address {
    height: 190px;
}

.address-left-about {
    padding-left: 30px;
    height: 170px;
    width: 45%;
    float: left;
}

.address-right-about {
    height: 150px;
    width: 45%;
    float: right;
}

.address span {
    font-weight: bold;
    font-size: large;
}

/* google map  */

#map-style {
    width: 100%;
    height: 400px;

}

/* footer social media link icons */

.social-media-links {
    text-align: center;
}

.social-media-links>li {
    display: inline;
}

.social-media-links i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/* contact us form Styles*/

#comment-section {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background: url('../images/giftcardform.jpg') center center/ cover no-repeat;
    /* background-size: contains; */
    object-fit: fill;
}

/* form section */

.signup-form {
    margin: 125px 5% 0 0;
    color: rgb(160, 166, 174);
    background-color: rgb(31, 46, 39);
    max-width: 700px;
    position: absolute;
    right: 0%;
    padding: 30px;
}

.join-button {
    width: 190px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #009688;
    color: rgb(250, 249, 249);
    border: 2px solid #009688;
}

legend {
    font-size: 200%;
    text-transform: uppercase;
}

form {
    line-height: 1.7;
}

input[type=text],
input[type=email] {
    height: 30px;
    width: 90%;
    padding-left: 10px;
}

/* menu page*/
.flex {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    /* align-items: center; */
}

.flex-container {
    flex: 1 0 32.5%;
    /* height: 250px; */
    padding-top: 50px;
    padding-left: 10px;
    /* padding-right: 10px; */
    justify-content: center;
}

.flex-container img {
    gap: 30px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    padding-left: 10px;
}

.flex-container label {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/* three bar dropdown menu */

.menu-dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    right: 0px;
    z-index: 1;
}

.menu-dropdown {
    position: relative;
    display: inline-block;
    /* position: fixed; */
}

.menu-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}

.menu-dropdown:hover .menu-dropbtn {
    background-color: #3e8e41;
}

/* media queries */
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .menu-dropdown-content,
    .menu-dropbtn {
        display: none;
    }

    #hero-image {
        width: 100%;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* .list a {
        display: none;
    } */

    .menu-dropdown-content,
    .menu-dropbtn {
        display: none;
    }

    .cover-text-left {
        left: 0px;
    }

    .ethos-images-center {
        right: 300px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .list a {
        display: show;
        margin-right: 10px;
        padding: 0px;

    }

    .menu-dropbtn {
        display: none;
        /* float: right; */
        /* position: relative; */
    }

    header {
        height: 50px;
    }

    #logo {
        /* font-size: 200%; */
        clear: left;
        margin-left: auto;
    }

    #hero-image {
        height: 450px;
    }

    #our-pizza-ethos {
        height: 650px;
    }

    .menu-dropbtn {
        display: show;
        /* float: right; */
        padding-left: 75px;
        position: relative;
    }

    /* .list {
        clear: left; */
    /* float: right;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    } */

    .cover-text-left {
        left: 0px;
    }

    .ethos-images-center {
        right: 250px;
    }

    .address {
        /* height: 180px; */

        font-size: small;
    }

    .signup-form {
        margin-top: 90px;
        /* left: 5px; */
        /* max-width: 700px; */
    }

    #comment-section {
        height: 105vh;
        max-width: 100%;
    }

    /* for menu */
    /* .flex-container {
        flex: 1 0 48%;
        padding-top: 50px;
        padding-left: 10px;
        justify-content: center;
    }

    .flex-container img {
        width: 250px;
        height: 150px;
        padding-left: 0px;
    }

    .flex-container label {
        text-align: center;
        font-size: 1rem;
    } */

    .flex h2 {
        /* font-size: larger; */
        padding-top: 85px;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .list a {
        display: none;
        margin-right: 0px;
    }

    .menu-dropbtn {
        display: inline;
    }

    header {
        height: 50px;
    }

    #logo {
        float: right;
        margin-left: auto;
    }

    #hero-image {
        height: 450px;
    }

    #our-pizza-ethos {
        height: 650px;
    }

    .flex-ethos img {
        gap: 5px;
        width: 95%;
        height: 200px;
        border-radius: 20px;
        padding-left: 10px;
    }

    .flex-ethos p,
    h3 {
        width: 80%;
        padding-left: 10px;
        text-align: justify;
    }

    .cover-text-left {
        left: 0px;
    }

    .left-about,
    .right-about {
        width: 100%;
        padding-left: 25px;
    }

    .ethos-images {
        width: 100%;
        height: 305px;
    }

    .left-about {
        clear: right;
        margin: 2px;
    }

    .right-about {
        clear: right;
        float: left;
        margin: 2px;
    }

    .ethos-images-right {
        clear: right;
        display: block;
    }

    .ethos-images-center,
    .ethos-images-left,
    .ethos-images-right {
        left: 5px;
    }

    .address {
        /* height: 400px; */
        font-size: small;
    }

    /* for menu */
    .flex-container {
        flex: 1 0 48%;
        padding-top: 50px;
        padding-left: 10px;
        justify-content: center;
    }

    .flex-container img {
        width: 250px;
        height: 150px;
        padding-left: 0px;
    }

    .flex-container label {
        text-align: center;
        font-size: 1rem;
    }

    .flex h2 {
        font-size: large;
        /* justify-content: left;
        align-items: left; */
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .list a {
        display: none;
    }

    .menu-dropbtn {
        display: inline;
    }

    header {
        height: 50px;
    }

    #logo {
        font-size: 300%;
        float: right;
        margin-left: auto;
    }

    #hero-image {
        height: 350px;
    }

    #our-pizza-ethos {
        height: auto;
    }

    .flex-ethos {
        flex: 1 0 90%;
    }

    .flex-ethos img {
        gap: 5px;
        width: 95%;
        height: 250px;
        border-radius: 20px;
        padding-left: 10px;
    }

    .flex-ethos p,
    h3 {
        width: 90%;
        padding-left: 10px;
        text-align: left;
    }

    .social-media-links i {
        font-size: 90%;
        margin: 1%;
    }

    .cover-text-left {
        left: 0px;
        top: 0px;
    }

    .left-about,
    .right-about {
        width: 100%;
        /* padding-left: 25px; */
    }

    .ethos-images {
        width: 100%;
        /* height: 305px; */
    }

    .left-about {
        clear: right;
        margin: 2px;
    }

    .right-about {
        clear: right;
        float: left;
        margin: 2px;
    }

    .ethos-images-right {
        clear: right;
        display: block;
    }

    .ethos-images-center,
    .ethos-images-left,
    .ethos-images-right {
        left: 20px;
    }

    .address {
        top: 25px;
        height: 150px;
        font-size: small;
    }

    .address-left-about {
        clear: right;
    }

    .address-right-about {
        clear: right;
        float: left;
    }

    #comment-section {
        height: 120vh;
        width: 150%;
    }

    .signup-form {
        top: 0px;
        left: 5px;
    }

    legend {
        font-size: 125%;
    }

    .join-button {
        width: 130px;
    }

    /* for menu */

    .flex-container img {
        width: 100%;
        height: 200px;
        padding-left: 0px;
    }

    .flex-container label {
        text-align: center;
        font-size: 1rem;
    }

    .flex-container:last-child {
        flex-grow: 10;
    }

    .flex h2 {
        font-size: large;
        padding-top: 100px;
    }
}

/* ##Screen=Below 320px */

@media (max-width: 319px) {

    .list a {
        display: none;
    }

    .list li {
        margin-right: 0px;
    }

    .menu-dropbtn {
        display: inline;
        font-size: 10px;
    }

    /* header ,logo and social link section */

    header {
        height: 45px;
    }

    #logo {
        font-size: 150%;
        float: right;
        margin-left: auto;
    }

    #hero-image {
        height: 300px;
    }

    #our-pizza-ethos {
        height: auto;
    }

    .flex-ethos {
        flex: 1 0 90%;
    }

    .flex-ethos img {
        gap: 5px;
        width: 95%;
        height: 180px;
        border-radius: 20px;
        padding-left: 10px;
    }

    .flex-ethos p,
    h3 {
        width: 90%;
        padding-left: 10px;
        text-align: left;
    }

    .social-media-links i {
        font-size: 90%;
        margin: 1%;
    }

    /* our ethos section */

    #our-pizza-ethos~h2 {
        font-size: 25px;
        left: 10px;
    }

    .cover-text-left {
        left: 0px;
        top: 0px;
        font-size: 95%;
    }

    .left-about,
    .right-about {
        width: 100%;
        left: 1px;
    }

    .ethos-images {
        width: 100%;
        height: 250px;
    }

    .left-about {
        clear: right;
        margin: 2px;
    }

    .right-about {
        clear: right;
        float: left;
        margin: 2px;
    }

    .ethos-images-right {
        clear: right;
        display: block;
    }

    .ethos-images-center,
    .ethos-images-left,
    .ethos-images-right {
        left: 1px;
    }

    /* address section */


    .address {
        top: 25px;
        height: 300px;
        font-size: small;
    }

    .address-left-about {
        clear: right;
    }

    .address-right-about {
        clear: right;
        /* float: left; */
    }

    /* contact us section */

    #comment-section {
        height: 120vh;
        width: 200%;
    }

    .signup-form {
        top: 0px;
        left: 2px;
    }

    legend {
        font-size: 125%;
    }

    /* for menu */

    .flex-container img {

        width: 100%;
        height: 150px;
        padding-left: 0px;
    }

    .flex-container label {
        text-align: center;
        font-size: 1rem;
    }

    .flex h2 {
        font-size: large;
    }
}